*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/build/
/.gradle/
app/libs/
app/src/main/res/drawable/
backend/build/
backend/src/main/webapp/css/
backend/src/main/webapp/js/
